@model Sklep_Internetowy_MirrorStore.Models.Dane

@{
    ViewData["Title"] = "Form";
}

<h1>Wynik</h1>
Potwierdzam Twoje dane
<br />
Imie: @Model.Name
<br />
Nazwisko: @Model.Surname
<br />
Email: @Model.Email
<br />
Hasło: @Model.Password
<br />
Powtórz Hasło: @Model.ConfirmPassword
<br />
Numer Telefonu: @Model.PhoneNumber
<br />
Wiek: @Model.Age
<br />
Miasto: @Model.City
<br />
Kategoria: @Model.Category
<br />
